*{
    margin: 0;
    padding: 0;
}
#img_door{
    width: 100%;
    height: 100%;
}
 #top{
     position: relative;
    /* float: left; */
    width: 100%;
    height: 150px;
    border-bottom: 4px solid red;
} 
#top_2{
    position: absolute;
    left: 40px;
    top: 50px;
    width: 40%;
    height: 50px;
    /* background-color: burlywood; */
}
ul,
li {
  margin: 0;
  padding: 0;
}
 #header{
    width: 100%;
    height: 40px;
    /* background-image: image("./img/top.jpg"); */
     /* background-color: yellow;  */
} 
nav {
  float: left;
  display: flex;
  width: 100%;
  /* height: 100vh; */
}

ul {

  position: relative;
  display: flex;
}

ul li {
    /* margin-left: 110px; */

  height: 40px;
  list-style: none;
  width: 120px;
  line-height: 40px;
  text-align: center;
}

ul li a {
    font-size: 20px;

  color: rgb(221, 22, 22);
  text-decoration: none;
}

.slider {
  width: 100px;
  height: 40px;
  background-color: #5352ed;
  border-radius: 4px;
  position: absolute;
  z-index: -1;
  transition: all ease 0.4s;
  animation: 2s ease-in-out waves infinite;
}

li:nth-child(1):hover ~ .slider {
  left: 10px;
}

li:nth-child(2):hover ~ .slider {
  left: 128px;
}

li:nth-child(3):hover ~ .slider {
  left: 248px;
}

li:nth-child(4):hover ~ .slider {
  left: 368px;
}

li:nth-child(5):hover ~ .slider {
  left: 488px;
}
li:nth-child(6):hover ~ .slider {
  left: 608px;
  }

@keyframes waves {
  from {
    clip-path: polygon(
      0% 17%,
      9% 10%,
      18% 4%,
      30% 0%,
      43% 1%,
      49% 4%,
      57% 7%,
      66% 10%,
      78% 11%,
      89% 11%,
      96% 9%,
      100% 7%,
      100% 100%,
      0% 100%
    );
  }
  50% {
    clip-path: polygon(
      0% 4%,
      6% 9%,
      13% 13%,
      23% 15%,
      31% 16%,
      42% 15%,
      49% 13%,
      61% 10%,
      71% 5%,
      81% 3%,
      90% 2%,
      100% 5%,
      100% 100%,
      0% 100%
    );
  }
  to {
    clip-path: polygon(
      0% 17%,
      9% 10%,
      18% 4%,
      30% 0%,
      43% 1%,
      49% 4%,
      57% 7%,
      66% 10%,
      78% 11%,
      89% 11%,
      96% 9%,
      100% 7%,
      100% 100%,
      0% 100%
    );
  }
}
#wellcome_1{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 80px;
    margin-top: 30px;
}
#wellcome_2{
    margin-top: 20px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
    color: darkgrey;
}
#introduce{
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    margin-top: 30px;
}
#teamclass{
    margin-top: 200px;
    text-align: center;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#teamintroduce{
    display: flex;
    /* flex-warp:nowrap; */
    margin-top: 30px;
    width: 100%;
    height: 800px;
    /* float:left; */
}

#zf,#ltl,#lsa{

    width: 25%;
    height: 600px;
    float: left;
    margin-left: 100px;
    border: 4px solid rgba(34, 2, 2, 0.121);
}
#zf img,#ltl img,#lsa img{
    width: 100%;
    height: 400px;
}
#zf p,#ltl p,#lsa p{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: dimgrey;
}
#zf div,#ltl div,#lsa div{
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.footer{
  margin-top: -90px;
  background-color: rgba(0, 0, 0, 0.522);
  width: 100%;
  height: 500px;
  color: azure;
}
.footer-first{
  /* border: 1px solid red; */
  display: flex;
}
.footer-second{
  display: flex;

}
.first-first{
  /* border: 1px solid red; */
  /* height: 20px; */
  width:380px;
  font-size: 40px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.first-second{
  font-size: 20px;
  margin-left: 0px;
  margin-top: 10px;
}
.footer-second{
  width: 100%;
  height: 500px;
  margin-top: 50px;
}
.second-first,.second-second,.second-third{
  /* border: 1px solid red; */
  margin: 2%;
  width: 30%;
  height: 300px;
}
.sff,.ssf,.stf{
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.sft,.sst,.stt{
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.sfs,.sss,.sts{
  width:200px ;
  height: 3px;
  background-color: red;
}
.line{
  width: 80%;
  height: 3px;
  background-color: red;
  margin-top: -220px;
  margin-left: 10%;
}
.third-first{
  
  margin-top: 20px;
  display: flex;
  flex-wrap:nowrap;
  
}
.third-first div{
  margin-left: 50px;
  /* border: 2px solid red; */
  width: 20%;
  height: 20px;
}
.third-second{
  margin-top: 30px;
  text-align: center;
}